.detailsWhenCartIsEmpty{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.detailsWhenCartIsEmpty>img{
    width: 200px;
    margin: auto;
}
.detailsWhenCartIsEmptyBtnDiv{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: auto;
}

.clickableButton{
    /* width: 100%; */
    border: none;
    background-color: black;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px;
    cursor: pointer;
    border-radius: 0px;
}
.clickableButton:hover{
    border: 1px solid black;
}

.cartEmptySpanDiv>p{
    color: #1c1c1c;
    font-weight: 500;
    margin: 0;
    margin-top: 5px;
}